@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

a {
  cursor: pointer;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

input, textarea {
  border-radius: var(--radius-md);
  padding: 0.5rem 0.875rem;
  @supports (color: color-mix(in lab, red, red)) {
      outline-color:
        color-mix(in oklab, var(--color-white) 10%, transparent);
    };
  outline-offset: calc(1px * -1);
  outline-style: var(--tw-outline-style);
  outline-width: 1px;
}
input:focus, input:focus-visible,
textarea:focus, textarea:focus-visible {
  @supports (color: color-mix(in lab, red, red)) {
      outline-color:
        color-mix(in oklab, var(--color-indigo-500), transparent);
    }
  outline-offset: calc(2px * -1);
  outline-width: 2px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#app {
  width: 70vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
