@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

/* Links */
a {
  cursor: pointer;
}

/* Body container */
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

/* Titles */
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* -------- Inputs / Textareas -------- */
input,
textarea {
  border-radius: var(--radius-md);
  padding: 0.5rem 0.875rem;
  outline-style: solid;
  outline-width: 1px;
  outline-offset: -1px;

  @supports (color: color-mix(in lab, red, red)) {
    outline-color: color-mix(in oklab, var(--color-white) 10%, transparent);
  }
}

input:focus,
input:focus-visible,
textarea:focus,
textarea:focus-visible {
  outline-width: 2px;
  outline-offset: -2px;

  @supports (color: color-mix(in lab, red, red)) {
    outline-color: color-mix(in oklab, var(--color-indigo-500), transparent);
  }
}

/* -------- Buttons -------- */
button {
  cursor: pointer;
  font-family: inherit;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button:disabled {
  cursor: not-allowed;
}

/* -------- App container -------- */
#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
